<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>
    <style>
        h1{
            border-radius: 40px;
    text-align: center;
    color: blue;
    background: #056813;
    padding: 17px;
        }
        p{
            text-align: center;
            font-size: 20px;
            color: #154242;
        }
        div{
            background-color: burlywood;
    height: 80vh;
    border-radius: 30px;
        }
    </style>
</head>
<body>
    <div>
    <h1>Thank you for Form Submission</h1>
    <p>Please check your email</p>
</div>
</body>
</html>